body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #808080;
    color: #fff;

    background-image:url("images/abstract-lights-motion-1954.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #141414;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width:100%;
}

.content h1, .content h2, .content h3, .content h4, .content p, .content a {
    margin-left:18px;
}

.form-control {
    margin: 3px 0;
}

#users {
    height: 360px;
    max-height: 275px;
    overflow: auto;
}
