@{
    ViewBag.Title = "Startside";
}
<br />
<div class="jumbotron">
    <h1>HIN Adventures</h1>
</div>

<div class="jumbotron">
    <h2>@Html.ActionLink("Your adventure begins here", "Login", "Account")</h2>

</div>
<div>
    @Html.ActionLink("Testing av global chat", "GlobalChat")
</div>
