@{
    ViewBag.Title = "Game";
}

<form id="game">
    <div>
        <textarea class=form-control rows="12" cols="100" style="resize:none"></textarea>
        <div class="input-group">
            <input type="text" class="form-control">
        </div>
    </div>
    <br />
    <div class="allExceptConsole">
        <div class="chat" style="float:left; width:45%">
            <textarea class=form-control rows="6" style="resize:none"></textarea>
            <div class="input-group">
                <input type="text" class="form-control">
            </div>
        </div> <!--end of chat-->
        <div class="west" style="float:left">
            <br />
            <p><a class="btn btn-primary btn-lg" href="#" role="button" style="width:120px">Go west</a></p>
        </div>
        <div class="northSouth" style="float:left">
            <p><a class="btn btn-primary btn-lg" href="#" role="button" style="width:120px">Go north</a></p>

            <p><a class="btn btn-primary btn-lg" href="#" role="button" style="width:120px">Go south</a></p>
        </div>
        <div class="east" style="float:left">
            <br />
            <p><a class="btn btn-primary btn-lg" href="#" role="button" style="width:120px">Go east</a></p>
        </div>
        <div class="exit" style="float:right">

            <p><a class="btn btn-danger btn-lg" href="#" role="button" style="width:120px; margin-top:80%">Exit</a></p>
        </div>
    </div><!-- end of allExceptConsole-->
</form>
<div class="clearfix"></div>