
@{
    ViewBag.Title = "Game";
}

<br />
<div class="jumbotron">
    <div class="container" style="height: 35vh">
        <p>> Console window for game</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="input-group">
            <input type="text" class="form-control" style="width:600px">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>
<div class="jumbotron">
    <div class="container" style="height: 15vh; width:50px" >
        <p>> Chat window for game</p>
    </div>
</div>