@{
    ViewBag.Title = "Game";
}

<form id="game">
    <div class="row">
    <div class="col-sm-6" id="command-console">
            <textarea id="gameOutput" name="gameOutput" class=form-control rows="12" style="resize:none"></textarea>
            <input type="text" id="gameInput" class="form-control" name="gameInput">
        </div>
    </div>
    <br />
    <div class="clearfix">
        <div class="chat" style="float:left; width:45%">
            <textarea class=form-control rows="6" style="resize:none" id="chatOutput" name="chatOutput"></textarea>
            <div class="input-group">
                <input type="text" id="chatInput" name="chatInput" class="form-control">
            </div>
        </div> <!--end of chat-->
        <div class="west" style="float:left">
            <br />
            <p><a class="btn btn-primary btn-lg" href="#" role="button" style="width:120px">Go west</a></p>
        </div>
        <div class="northSouth" style="float:left">
            <p><a class="btn btn-primary btn-lg" href="#" role="button" style="width:120px">Go north</a></p>

            <p><a class="btn btn-primary btn-lg" href="#" role="button" style="width:120px">Go south</a></p>
        </div>
        <div class="east" style="float:left">
            <br />
            <p><a class="btn btn-primary btn-lg" href="#" role="button" style="width:120px">Go east</a></p>
        </div>
        <div class="exit" style="float:right">

            <p><a class="btn btn-danger btn-lg" href="#" role="button" style="width:120px; margin-top:80%">Exit</a></p>
        </div>
    </div><!-- end of allExceptConsole-->
</form>
<div class="clearfix"></div>
<script>
    $(document).ready(function () {
        console.log("GameJquery loaded and ready to be used");
        var hub = $.connection.Command;
        var username = "@User.Identity.Name";
        var id = "test";

        //Define Command response function
        hub.client.CommandResponse = function (message) {
            console.log("Message sent from server and written in #gameOutput");
            $('#gameOutput').append(message);
        };

        $.connection.hub
            .start()
            .done(function () {
                console.log("CommandHub started");
                $('#gameInput').on("keydown", function (event) {
                    if (event.which == 13) {
                        console.log("User just pressed enter in 'GameInput' box")
                        hub.server.command($('#gameInput').val());
                        $("#gameInput").val('');
                    }

                });
        });


    });
</script>