@{
    ViewBag.Title = "Game";
}
<div id="game" class="content">
    <div class="row">
        <h2>Game</h2>
        <div class="col-sm-6" id="command-console">
            <textarea readonly id="gameOutput" name="gameOutput" class=form-control rows="12" style="resize:none"></textarea>
            <input type="text" id="gameInput" class="form-control" name="gameInput">
        </div>
        <div id="thumbwrap" class="col-sm-6">
            <a class="thumb"><img src="../../Content/images/2_floor.jpg" alt=""><span><img src="../../Content/images/2_floor.jpg" alt="" style="width:350%"></span></a>
            <a class="thumb"><img src="../../Content/images/3_floor.jpg" alt=""><span><img src="../../Content/images/3_floor.jpg" alt="" style="width:450%"></span></a>
        </div>
    </div>
    <br />
    <div class="row">
        <h2>GlobalChat</h2>
        <div id="chat" class="col-sm-6">
            <textarea id="chatbox" rows="12" class="form-control" readonly></textarea>
        </div>
        <div id="users" class="col-sm-6">
            <b>Online Users</b>
        </div>
    </div>

    <div class="row">
       <div class="col-sm-6">
           <select id="userlist" class="form-control">
               <option value="All">All</option>
           </select>
           <input type="text" id="message" class="form-control" />
            <button type="button" class="btn" id="sendmessage">Send</button>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<script>
    $(document).ready(function () {
        console.log("GameJquery loaded and ready to be used");
        var hub = $.connection.Command;
        var username = "@User.Identity.Name";
        var userid = "@ViewBag.UserID";

        startChat();

        //Define Command response function
        hub.client.CommandResponse = function (message) {
            console.log("Message sent from server and written in #gameOutput");
            $('#gameOutput').append(message);
            document.getElementById("gameOutput").scrollTop = document.getElementById("gameOutput").scrollHeight;       //scrolls down whenever something is written to window
        };

        $.connection.hub
            .start()
            .done(function () {
                console.log("CommandHub started");
                hub.server.command("intro", userid);
                $('#gameInput').on("keydown", function (event) {
                    if (event.which == 13) {
                        console.log("User just pressed enter in 'GameInput' box")
                        hub.server.command($('#gameInput').val(), userid);
                        $("#gameInput").val('');
                    }

                });
            });


    });



    //Script that deals with the chat functions.
    //Kristian Alm 10.11.2014
    function startChat() {
        var chat = $.connection.globalChatHub;
        var username = "@User.Identity.Name";               //Gets the players username

        function sendMessage() {
            if ($("#userlist").val() == "All") {
                chat.server.send(username, $("#message").val());
            }
                //Sends with the name of the player you want to send a private message to
            else {
                chat.server.sendToSpecific(username, "[Private] -> " + $("#userlist").val() + ": " + $("#message").val(), $("#userlist").val());
            }
            $('#message').val('').focus();          //Clears the textbox after sending a message
        }

        //Print messages received in this function
        chat.client.addNewMessageToPage = function (username, message) {
            $("#chatbox").append(username + ": " + message + "\n");
            document.getElementById("chatbox").scrollTop = document.getElementById("chatbox").scrollHeight;     //keeps the chat window at the last sentence
        };

        //Starts the connection with the hub
        $.connection.hub.start().done(function () {
            chat.server.join(username, $.connection.hub.id);            //Register the player with a list containing all online players

            //On pressing send it checks if you want to send the message to all or just one player.
            $("#sendmessage").on("click", sendMessage);

            //On enter send message
            $('#message').on("keydown", function (event) {
                if (event.which == 13) {
                    sendMessage();
                }
            });

        });

        //Gives a list of all online players
        chat.client.showConnected = function (name) {
            //Excludes yourself from the dropdownlist
            if (name == username) {
                $("#users").append("<div class=\"players\">" + name + "</div>");
            }
            else {
                $("#users").append("<div class=\"players\">" + name + "</div>");
                $("#userlist").append('<option value="' + name + '">' + name + '</option>');
            }
        }

        //Gets called from OnDisconnect in GlobalChathub when a player disconnects.
        chat.client.disconnected = function (name) {
            $(".players").remove(":contains('" + name + "')");
            $("#userlist option").remove(":contains('" + name + "')");
        }
    }

</script>