
@{
    ViewBag.Title = "GlobalChat";
}

<h2>GlobalChat</h2>

<div id="chat">
    <textarea id="chatbox" cols="130" rows="10" readonly></textarea>
    <div id="users">
        <b>Online Users</b>
    </div>
    <br />
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <select id="userlist">
        <option value="All">All</option>
    </select>
</div>

<!-- Jeg har flyttet inkludering av alle javascriptene til Head, så du skal ikke trenge å importere jquery her
<script type="text/javascript" src="/Scripts/jquery-2.1.1.min.js"></script>
-->
<script>

        function startChat() {
            var chat = $.connection.globalChatHub;
            var username = "@User.Identity.Name";

            chat.client.addNewMessageToPage = function (username, message) {
                $("#chatbox").append(username + ": " + message + "\n");
            };

            $.connection.hub.start().done(function () {
                chat.server.join(username, $.connection.hub.id);
                $("#sendmessage").click(function () {
                    if ($("#userlist").val() == "All") {
                        chat.server.send(username, $("#message").val());
                    }
                    else {
                        chat.server.sendToSpecific(username, $("#message").val(), $("#userlist").val());
                    }

                    $('#message').val('').focus();
                });
            });

            chat.client.showConnected = function (name) {
                //$("#users").empty();
                //$.each(name, function (index, value) {
                $("#users").append("<div>" + name + "</div>");
                $("#userlist").append('<option value="' + name + '">' + name + '</option>');
                //});
            }

            chat.client.disconnected = function (name) {
                $("#users").remove(":contains('" + name + "')");
            }
        }

        $(document).ready(function () {
            startChat();
        });
</script>