
@{
    ViewBag.Title = "GlobalChat";
}

<h2>GlobalChat</h2>

<div>
    <textarea id="chatbox" cols="100" rows="10" readonly></textarea>
    <br />
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
</div>

<script type="text/javascript" src="/Scripts/jquery-2.1.1.min.js"></script>

<script>

        function startChat() {
            var chat = $.connection.globalChatHub;
            var username = "@User.Identity.Name";       //de brukerene vi har lagt inn nå har email som brukernavn

            chat.client.addNewMessageToPage = function (message) {
                $("#chatbox").append(username + ": " + message + "\n");
            };

            $.connection.hub.start().done(function () {
                $("#sendmessage").click(function () {
                    chat.server.send($("#message").val());
                    $('#message').val('').focus();
                });
            });
        }

        $(document).ready(function () {
            startChat();
        });
</script>